.categ {
  overflow: hidden;
  height: 800px;
  width: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 8px;

  h3 {
    padding-left: 30%;
    color: white;
  }
  
  h4 {
    color: white;
  }
  
  
  h3, h4 {
    margin: 10px;
    font-weight: bolder;
  }
  
  p {
    margin: 10px;
    color: white;
  }
  
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }  
}

.cards-my-booking, .cards-my-chairs {
  padding: 16px;
  height: 100px;
}

.cards-my-bookings-infos, .cards-my-chairs-infos {
  margin: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  border-radius: 8px;
  background-color: #747C84;
}

