// Import page-specific CSS files here.
@import "home";
@import "show";

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

.chair-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: darkgrey;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
