
.chair-container {
  border: solid 1px #201E43;
  border-radius: 10px;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  box-shadow: 1px 1px 9px #001e3d;
  background-color: #efefef;
  display: flex;
  justify-content: center;
}

.card {
  border: solid 1px #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  background-color: white;
  text-align: center;
}

.card img {
  border-radius: 8px;
  margin-bottom: 15px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: darkgrey;
}

.card a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  color: white;
  background-color: red;
  border-radius: 30px;
  box-shadow: 1px 1px darkgrey;
  font-weight: 500;
}

.card a:hover {
  color: black;
  background-color: darkgrey;
  box-shadow: 2px 2px red;
}

#back-button {
  color: #A9A9A9;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: inline;
  padding: 0;
}

#back-button:hover {
  color: darkgrey; 
  background-color: transparent;
}