<div class="container">
  <div class="row justify-content-center" style="padding-left: 16px; padding-top: 16px;">

    <div class="col-6" style="display: flex; flex-direction: column;">
      <h3>My Bookings</h3>

      <div class="cards-my-bookings py-2" style="display: flex;">

        <img style="max-width: 20%;" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

        <div class="cards-my-bookings-infos" >
          <h4>Booking no.1</h4>
          <p>chair name</p>
        </div>

      </div>

    <div class="cards-my-bookings py-2" style="display: flex;">

        <img style="max-width: 20%;" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

        <div class="cards-my-bookings-infos">
          <h4>Booking no.2</h4>
          <p>chair name2</p>
        </div>

    </div>

    </div>

    <div class="col-6" style="display: flex; flex-direction: column;">
      <h3>My Chairs</h3>

      <div class="cards-my-chairs py-2"  style="display: flex;">

        <img style="max-width: 20%;" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

        <div class="cards-my-chairs-infos">
          <h4>Listed no.1</h4>
          <p>chair name</p>
        </div>

      </div>


    <div class="cards-my-chairs py-2"  style="display: flex;">

        <img style="max-width: 20%;" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

        <div class="cards-my-chairs-infos">
          <h4>Listed Chair no.2</h4>
          <p>chair name2</p>
        </div>

      </div>
    </div>

  </div>
</div>
<%# <p>"Find me in app/views/bookings/index.html.erb"</p>  %>
