
<%# https://cdn.openart.ai/stable_diffusion/e92379b281a016a6a228db309444c4167cbe5633_2000x2000.webp %>
<%# https://img.freepik.com/premium-photo/game-thrones-throne-with-red-seat-iron-throne-it_902639-63145.jpg?w=2000 %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.openart.ai/stable_diffusion/e92379b281a016a6a228db309444c4167cbe5633_2000x2000.webp);">
  <div class="container">

    <div class="cards">
      <h1><strong>Welcome to ChairBnB</strong></h1>
      <p>"Seat Your Dreams: Buy, Sell, and Rent the World's Most Exclusive and Luxurious Chairs"</p>
    </div>

    <div class="cards">
      <%= link_to "Book now", chairs_path %>
    </div>

</div>

<%# <p>"Find me in app/views/pages/home.html.erb"</p> %>
